
#mosaic-panel {
  position: relative;
  width: 95%;
  margin: auto;

  header {
    position: relative;
    padding: 16px;
    height: 45px;
    margin: 4px 0;
  }
  .list-item {
    position: relative;
    margin: 2px;
    padding:0;
    list-style-type: none;
    overflow: hidden;

    .name{
      font-size: 0.8em;
      font-weight: bold;
    }

    .output{
      font-size: 0.7em;
    }

    &:hover button {
      display: block;
    }

    &.list {
      display: block;

      button {
        top: 0;
        right: 10px;
        bottom: 0;
        margin: auto;
        width: 52px;
        height: 52px;
        background: $fuscia;
        border: 0;
        border-radius: 4px;
        color: $white;
        font-size: 20px;
      }
    }

    &.grid {
      display: inline-block;

      button {
        top: 0;
        right: 0;
        font-size: 14px;
        background: transparent;
        border: 0;
        color: $fuscia;
      }
    }

    button {
      display: none;
      position: absolute;
    }

    p{
      padding: 2px;
      margin: 0;
    }
  }
}
