
$tilesize: 50;
$ok:       #00ff00;
$warn:     #ff00ff;
$critical: #ff0000;
$unknown:  #999999;


.list-item {

  position: relative;
  margin: 0 6px 12px 6px;
  padding: 16px;
  list-style-type: none;

  &:hover button {
    display: block;
  }

  &.list {
    display: block;

    button {
      top: 0;
      right: 10px;
      bottom: 0;
      margin: auto;
      width: 52px;
      background: $fuscia;
      border: 0;
      border-radius: 4px;
      color: $white;
      font-size: 20px;
    }
  }

  &.grid {
    display: inline-block;
    overflow: hidden;

    button {
      top: 0;
      right: 0;
      font-size: 14px;
      background: transparent;
      border: 0;
      color: $fuscia;
    }



  }

  button {
    display: none;
    position: absolute;
  }

}


.status-0{
  width: $tilesize * 1;
  height: $tilesize * 1;
  background: $ok;
}
.status-1{
  width: $tilesize * 2;
  height: $tilesize * 2;
  background: $warn;
}
.status-2{
  width: $tilesize * 3;
  height: $tilesize * 3;
  background: $critical;
}
.status-3{
  width: $tilesize * 1.5;
  height: $tilesize * 1.5;
  background: $unknown;
}
