
$tilesize: 60;
$margin:   2;
$ok:       #5af15a;
$warn:     #f1f15a;
$critical: #f15a5a;
$unknown:  #8fb4ff;


/*
Given a default height (x)
Where we want to have a defined unit height which blocks
slot into (y), and a margin between elements (q) the normal size is

x+2q = y

x = y-2q

a double height element where q is maintained is

2(x)+2q = 2y-2q
*/


.status-0{
  border-left: 5px solid darken($ok, 20%) !important;
  width: ($tilesize + $margin) * 2;
  height: $tilesize / 2 - $margin;
  background: $ok;
}
.status-1{
  border-left: 5px solid darken($warn, 20%) !important;

  width: ($tilesize + $margin ) * 2 ;
  height: $tilesize ;
  background: $warn;
}
.status-2{
  border-left: 5px solid darken($critical, 20%) !important;

  width: ($tilesize + $margin ) * 2;
  height: ($tilesize + $margin ) * 2;
  background: $critical;
}
.status-3{
  border-left: 5px solid darken($unknown, 20%) !important;

  width: $tilesize ;
  height: $tilesize / 2;
  background: $unknown;
}
